* {
    box-sizing: border-box;
 }
 body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    display: grid;
    grid-template-areas: 
        'sec1 sec1'
        'sec2 sec2'
        'sec3 sec3'
        'sec4 sec4'
        'sec5 sec5'
        'sec6 sec6';

}
header {
    grid-area: sec1;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
  header nav {
    display:flex;
    justify-content: right;
    align-items: center;
  }
  header nav a {
    padding:10px;
  }
  .hero-banner {
    grid-area: sec2;
    display:flex;
    background-image: url(./images/02-hero-bg.jpg);
    height:60px;
  }
  .hero-banner h2 {
    display:flex;
    align-items: center;
    color:azure;
    
  }
  .page-wrapper {
    grid-area:sec3;
    display:grid;
       
   }

        
  .work, .contact, .about {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    background-color: azure;

  }
  .page-wrapper h2 {
    display:flex;
    justify-content: flex-end;
  }
  .contact a {
    padding: 5px;
  } 
  
  .content {
    background-color: aqua;
    display: flex;
    
    
  }
  .content p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .content img {
    display:inline-flex;
    height:180px;
    width:180px;
    
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  footer {
    grid-area: sec6;
    display:flex;
    justify-content: center;
  }
  